

<!DOCTYPE html>
<html>
<head>
    <title>Création d'un annonce</title>
</head>
<body>
<h1>Création d'une nouvelle annonce !</h1>

<div>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
</div>

<p>
    ajouter une annonce en WIP
</p>
</body>
</html>
