

<!DOCTYPE html>
<html>
<head>
    <title>Suppression de l'annonce {{ id_annonce }}</title>
</head>
<body>
<h1>Suppression de l'annonce n°{{ id_annonce }} !</h1>

<div>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
</div>

<p>
    Ici nous pourrons Supprimer l'annonce ayant comme id : {{ id_annonce }}<br />
    Page de suppression d'annonce WIP
</p>
</body>
</html>
