{% extends "::base.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Annonces</h1>
    <hr>
    {% block ocplatform_body %}
    {% endblock %}
{% endblock %}