<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
</head>
<body>
<h1>Hello World !</h1>

<p>

    Maintenant j'affiche mon contenu passer en paramètre : {{ content }}
</p>
</body>
</html>