<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
</head>
<body>
<h1>Hello World !</h1>

Maintenant j'affiche mon contenu passer en paramètre : {{ content }}
<p>Génération d'URL depuis TWIG : <a href="{{ path('oc_platform_voir', { id_annonce: '555' }) }}">Lien vers l'annonce</a></p>
</body>
</html>